<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Play Station Cat</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="screen">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Play Station Cat <em>by Michel and Corentin</em></h2>
                    <div id="video">
                        <img src="http://85.168.219.50:8083/video"/>
                        <div id="calibrateLayer"></div>
                    </div>
                </div>

                <div class="col-md-3">
                    <h3>Position des servos</h3>
                    <div id="arrowButtons">
                        <div class="row">
                            <button id="moveUp" class="col-md-offset-4 col-md-4 btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
                        </div>
                        <div class="row">
                            <button id="moveLeft" class="col-md-4 btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span></button>
                            <button id="moveDown" class="col-md-4 btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></button>
                            <button id="moveRight" class="col-md-4 btn btn-default"><span class="glyphicon glyphicon-arrow-right"></span></button>
                        </div>
                    </div>
                        
                    <form>
                        <input type="number" class="xaxis col-md-6 servoValues" step="5" value="{{ model.getXAxis() }}" min="{{ model.getServoMin() }}" data-center="{{ model.getServoCenter() }}" max="{{ model.getServoMax() }}"></input>
                        <input type="number" class="yaxis col-md-6 servoValues" step="5" value="{{ model.getYAxis() }}" min="{{ model.getServoMin() }}" data-center="{{ model.getServoCenter() }}" max="{{ model.getServoMax() }}"></input>
                        <!--div id="xaxis" class="form-group">
                            <label>Axe X</label>
                            <div class="alert alert-danger"></div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default decrease" type="button"><span class="glyphicon glyphicon-chevron-left"></span> -5</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default increase" type="button">+5 <span class="glyphicon glyphicon-chevron-right"></span></button>
                                </span>
                            </div>
                        </div>
                        <div id="yaxis">
                            <label>Axe Y</label>
                            <div class="alert alert-danger"></div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default decrease" type="button"><span class="glyphicon glyphicon-chevron-left"></span> -5</button>
                                </span>
                                <span class="input-group-btn">
                                    <button class="btn btn-default increase" type="button">+5 <span class="glyphicon glyphicon-chevron-right"></span></button>
                                </span>
                            </div>
                        </div-->
                    </form>
                    <div id="calibrationStep">
                        <h3>Calibration</h3>
                        <p class="description">La calibration permet de déterminer l'espace afin que le clic sur l'image puisse orienter le laser à l'endroit cliqué.</p>
                        <p>
                            <button class="btn btn-default pull-left">Démarrer la calibration</button>
                            <button class="btn btn-default pull-right"></button>
                        </p>
                        <div class="clearfix"></div>
                    </div>
                    <div id="videoConfig" class="clearfix">
                        <h3>Configuration vidéo</h3>
                        <p class="description">Déterminer à quelle adresse chercher la vidéo<br>Le lien doit pointer vers une image qui se raffraîchie.</p>
                        <form action="#" id="videoForm">
                            <div id="videoLink"></div>
                            <div class="entry">
                                <label for="ip_adress">Adresse ip</label>
                                <input id="ip_adress" type="text" value="{{ model.ipadress }}">
                            </div>
                            <div class="entry">
                                <label for="port">Port</label>
                                <input id="port" type="text" value="{{ model.port }}">
                            </div>
                            <div class="entry">
                                <label for="uri">Lien</label>
                                <input id="uri" type="text" value="{{ model.uri }}">
                            </div>
                            <div class="entry">
                                <br>
                                <button class="btn btn-default">Mettre à jour</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/json2.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/vendor/raphael-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/gamepad.js') }}"></script>
        <script src="{{ url_for('static', filename='js/communication-io.js') }}"></script>
        <script src="{{ url_for('static', filename='js/calibration.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
