.main-title {
	margin: 1em;	
}

#board {
	margin: 5px;
	background: #D9D9D9;
	padding: 15px;
	border: 1px solid #bbb;

	border-radius: 4px;
}

#video {
	width: 100%;
	height: auto;
	min-height: 500px;
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 1;
}

#video img {
	width: 100%;
	height: auto;
}

#video.ready::after {
	content: "Le flux n'est pas disponible";
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 50px 15px;
	font-size: 2em;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(255, 125, 125, .5);
	font-style: italic;
}

#calibrateLayer {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#arrowButtons {
	padding: 5px;
}

#arrowButtons button {
	background: #EEE;
	padding: 8px;
	-webkit-transition: background-color .2s ease;
	-o-transition: background-color .2s ease;
	transition: background-color .2s ease;
}

#arrowButtons button.pushed {
	background: #ccc;
}

.servoValues {
	text-align: center;
	padding: 5px 0;
	font-size: 1.2em;
}

.ready #calibrateLayer {
	display: none;
}

input, button {
	outline: none !important;
	box-shadow: none !important;
}

#videoConfig .entry {
	padding: 5px;
}

#videoConfig .entry input {
	display: block;
	padding: 5px;
}

#videoLink {
	padding: 10px;
	text-align: center;
	font-style: italic;
	font-weight: bold;
	word-break: break-all;
}

.overflow-hidden {
	overflow: hidden;
}